<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <link href="{{ STATIC_URL }}design.css" type="text/css" rel="stylesheet" />
    <title>dontabandon.me – Authors</title>
</head>
<body>
    <div id="content">
        <div id="title">
            <div id="title-top" style="text-align: center; font-size: 40pt">dontabandon.me</div>
            <div id="title-lower" style="text-align: center;">A list of abandoned open-source projects</div>
        </div>
        <div id="top_menu">
            <div class="inner_element">
                <a href="{% url 'projects_latest' %}">Projects</a> /
                <a href="{% url 'languages_alphabetical' %}">Languages</a> /
                <a href="{% url 'tags_alphabetical' %}">Tags</a> /
                <a href="{% url 'reasons_alphabetical' %}">Reasons</a> /
                <a href="{% url 'submit' %}">Add project</a> /
                <a href="{% url 'api_info' %}">API</a>
            </div>
        </div>
        <div class="page_element">
            <div class="inner_element">
                {% if sorting == 'alphabetical' %}
                    <a href="{% url 'authors'  'votes'%}">Authors by amount of votes</a> /
                    <a href="{% url 'authors'  'projects'%}">Authors by amount of projects</a>
                {% elif sorting == 'votes' %}
                    <a href="{% url 'authors_alphabetical'%}">Authors in alphabetical order</a> /
                    <a href="{% url 'authors'  'projects'%}">Authors by amount of projects</a>
                {% elif sorting == 'projects' %}
                    <a href="{% url 'authors'  'votes'%}">Authors by amount of votes</a> /
                    <a href="{% url 'authors_alphabetical'%}">Authors in alphabetical order</a>
                {% endif %}
            </div>
        </div>

        <div class="page_element">
            <ol style="margin-left: auto; margin-right: auto;" start="{{ s_item }}">
            {% for author in authors_list %}
                <li><span style="font-weight:bold"><a href="{% url 'author' author.id %}">{{ author.author_name }}</a></span>
                    total votes: {{ author.votes_total }} total projects: {{ author.projects_total }}
                <a target="_blank" href="{{ author.author_link }}">View on Github</a>
                </li>
            {% endfor %}
            </ol>
        </div>

        <div class="pagination">
            <span class="step-links">
                {% if authors_list.has_previous %}
                    <a href="?page={{ authors_list.previous_page_number }}">previous</a>
                {% endif %}

                <span class="current">
                    Page {{ authors_list.number }} of {{ authors_list.paginator.num_pages }}.
                </span>

                {% if authors_list.has_next %}
                    <a href="?page={{ authors_list.next_page_number }}">next</a>
                {% endif %}
            </span>
        </div>

        <div class="page_element">
            <div style="margin-left: auto; margin-right: auto; font-size: 10pt; margin-top: 8px;">
                Created by George Oblapenko (kunstmord@kunstmord.com) / <a href="{% url 'cookies' %}">Cookie policy</a>
            </div>
        </div>
    </div>
</body>
</html>