<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <link href="{{ STATIC_URL }}design.css" type="text/css" rel="stylesheet" />
    <title>dontabandon.me – {{ author.author_name }} stats</title>
</head>
<body>
    <div id="content">
        <div id="title">
            <div id="title-top" style="text-align: center; font-size: 40pt">dontabandon.me</div>
            <div id="title-lower" style="text-align: center;">A list of abandoned open-source projects</div>
        </div>
        <div id="top_menu">
            <div class="inner_element">
                <a href="{% url 'projects_latest' %}">Projects</a> /
                <a href="{% url 'languages_alphabetical' %}">Languages</a> /
                <a href="{% url 'tags_alphabetical' %}">Tags</a> /
                <a href="{% url 'reasons_alphabetical' %}">Reasons</a> /
                <a href="{% url 'submit' %}">Add project</a> /
                <a href="{% url 'api_info' %}">API</a>
            </div>
        </div>

        <div class="page_element">
            <div style="margin-left: auto; margin-right: auto;">
                This website uses cookies for two purposes: 1) to ensure CSRF protection when submitting a project 2) as a simple deterrent
                against a single user voting for a project more than once. These cookies are not used to track the user in any way. Only the CSRF token
                is used on the server, the voting-related cookies are not looked at even once in server-land.
            </div>
        </div>

        <div class="page_element">
            <div style="margin-left: auto; margin-right: auto; font-size: 10pt; margin-top: 8px;">
                Created by George Oblapenko (kunstmord@kunstmord.com) / <a href="https://github.com/Kunstmord/abandoned/" target="_blank">Github project</a> / <a href="{% url 'cookies' %}">Cookie policy</a>
            </div>
        </div>
    </div>
</body>
</html>