<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <script src="{{ STATIC_URL }}libs/jquery-2.1.3.min.js"></script>
{#    <script src="{{ STATIC_URL }}libs/react.js"></script>#}
{#    <script src="{{ STATIC_URL }}libs/JSXTransformer.js"></script>#}
{#    <script src="{{ STATIC_URL }}libs/react-router.min.js"></script>#}
{#    <script type="text/jsx" src="{{ STATIC_URL }}ui.js"></script>#}
    <title>projects</title>
</head>
<body>
    Languages
    <div id="content">
        <a href="{% url 'projects-alphabetical' %}">Projects</a>
        <a href="{% url 'tags-alphabetical' %}">Tags</a>
        <a href="{% url 'authors-alphabetical' %}">Authors</a>
        <ul>
        {% for language in languages_list %}
            <li>{{ language.name }} total votes: {{ language.votes_total }} total projects: {{ language.projects_total }}
            </li>
        {% endfor %}
        </ul>

        <div class="pagination">
            <span class="step-links">
                {% if languages_list.has_previous %}
                    <a href="?page={{ languages_list.previous_page_number }}">previous</a>
                {% endif %}

                <span class="current">
                    Page {{ languages_list.number }} of {{ languages_list.paginator.num_pages }}.
                </span>

                {% if languages_list.has_next %}
                    <a href="?page={{ languages_list.next_page_number }}">next</a>
                {% endif %}
            </span>
        </div>
    </div>
</body>
</html>