<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <link href="{{ STATIC_URL }}design.css" type="text/css" rel="stylesheet" />
    <title>dontabandon.me – Languages</title>
</head>
<body>
    <div id="content">
        <div id="title">
            <div id="title-top" style="text-align: center; font-size: 40pt">dontabandon.me</div>
            <div id="title-lower" style="text-align: center;">A list of abandoned open-source projects</div>
        </div>

        <div id="top_menu">
            <div class="inner_element">
                <a href="{% url 'projects_latest' %}">Projects</a> /
                <a href="{% url 'tags_alphabetical' %}">Tags</a> /
                <a href="{% url 'authors_alphabetical' %}">Authors</a> /
                <a href="{% url 'reasons_alphabetical' %}">Reasons</a> /
                <a href="{% url 'submit' %}">Add project</a> /
                <a href="{% url 'api_info' %}">API</a>
            </div>
        </div>
        <div class="page_element">
            <div class="inner_element">
                {% if sorting == 'alphabetical' %}
                    <a href="{% url 'languages'  'votes'%}">Languages by amount of votes</a>
                    <a href="{% url 'languages'  'projects'%}">Languages by amount of projects</a>
                {% elif sorting == 'votes'%}
                    <a href="{% url 'languages_alphabetical'%}">Languages in alphabetical order</a>
                    <a href="{% url 'languages'  'projects'%}">Languages by amount of projects</a>
                {% elif sorting == 'projects' %}
                    <a href="{% url 'languages'  'votes'%}">Languages by amount of votes</a>
                    <a href="{% url 'languages_alphabetical'%}">Languages in alphabetical order</a>
                {% endif %}
            </div>
        </div>

        <div class="page_element">
            <ol style="margin-left: auto; margin-right: auto;" start="{{ s_item }}">
            {% for language in languages_list %}
                <li><span style="font-weight:bold"><a href="{% url 'language' language.id %}">{{ language.language_name }}</a></span>
                    total votes: {{ language.votes_total }} total projects: {{ language.projects_total }}
                </li>
            {% endfor %}
            </ol>
        </div>

        <div class="pagination">
            <span class="step-links">
                {% if languages_list.has_previous %}
                    <a href="?page={{ languages_list.previous_page_number }}">previous</a>
                {% endif %}

                <span class="current">
                    Page {{ languages_list.number }} of {{ languages_list.paginator.num_pages }}.
                </span>

                {% if languages_list.has_next %}
                    <a href="?page={{ languages_list.next_page_number }}">next</a>
                {% endif %}
            </span>
        </div>

        <div class="page_element">
            <div style="margin-left: auto; margin-right: auto; font-size: 10pt; margin-top: 8px;">
                Created by George Oblapenko (kunstmord@kunstmord.com) / <a href="{% url 'cookies' %}">Cookie policy</a>
            </div>
        </div>
    </div>
</body>
</html>