<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <link href="{{ STATIC_URL }}design.css" type="text/css" rel="stylesheet" />
    <title>Abandoned – Reasons</title>
</head>
<body>
    <div id="content">
        <div id="title">
            <div id="title-top" style="text-align: center; font-size: 40pt">abandoned.me</div>
            <div id="title-lower" style="text-align: center;">A list of abandoned open-source projects</div>
        </div>

        <div id="top_menu">
            <div class="inner_element">
                <a href="{% url 'projects_latest' %}">Projects</a> /
                <a href="{% url 'languages_alphabetical' %}">Languages</a> /
                <a href="{% url 'tags_alphabetical' %}">Tags</a> /
                <a href="{% url 'authors_alphabetical' %}">Authors</a> /
                <a href="{% url 'submit' %}">Add project</a>
            </div>
        </div>

        <div class="page_element">
            <div class="inner_element">
                {% if sorting == 'alphabetical' %}
                    <a href="{% url 'reasons'  'votes'%}">Reasons by amount of votes</a>
                    <a href="{% url 'reasons'  'projects'%}">Reasons by amount of projects</a>
                {% elif sorting == 'votes'%}
                    <a href="{% url 'reasons_alphabetical'%}">Reasons in alphabetical order</a>
                    <a href="{% url 'reasons'  'projects'%}">Reasons by amount of projects</a>
                {% elif sorting == 'projects' %}
                    <a href="{% url 'reasons'  'votes'%}">Reasons by amount of votes</a>
                    <a href="{% url 'reasons_alphabetical'%}">Reasons in alphabetical order</a>
                {% endif %}
            </div>
        </div>

        <div class="page_element">
            <ol style="margin-left: auto; margin-right: auto;" start="{{ s_item }}">
            {% for reason in reasons_list %}
                <li><span style="font-weight:bold"><a href="{% url 'reason' reason.id %}">{{ reason.reason }}</a></span>
                    total votes: {{ reason.votes_total }} total projects: {{ reason.projects_total }}
                </li>
            {% endfor %}
            </ol>
        </div>

        <div class="pagination">
            <span class="step-links">
                {% if reasons_list.has_previous %}
                    <a href="?page={{ reasons_list.previous_page_number }}">previous</a>
                {% endif %}

                <span class="current">
                    Page {{ reasons_list.number }} of {{ reasons_list.paginator.num_pages }}.
                </span>

                {% if reasons_list.has_next %}
                    <a href="?page={{ reasons_list.next_page_number }}">next</a>
                {% endif %}
            </span>
        </div>
    </div>
</body>
</html>