<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <script src="{{ STATIC_URL }}libs/jquery-2.1.3.min.js"></script>
{#    <script src="{{ STATIC_URL }}libs/react.js"></script>#}
{#    <script src="{{ STATIC_URL }}libs/JSXTransformer.js"></script>#}
{#    <script src="{{ STATIC_URL }}libs/react-router.min.js"></script>#}
{#    <script type="text/jsx" src="{{ STATIC_URL }}ui.js"></script>#}
    <title>Abandoned – Language{{ language.language_name }}</title>
</head>
<body>

    <div id="content">
        <ul>
            <li><a href="{% url 'projects_latest' %}">Projects</a></li>
            <li><a href="{% url 'languages_alphabetical' %}">Languages</a></li>
            <li><a href="{% url 'tags_alphabetical' %}">Tags</a></li>
            <li><a href="{% url 'authors_alphabetical' %}">Authors</a></li>
            <li><a href="{% url 'submit' %}">Add project</a></li>
        </ul>

        {{ language.language_name }} total votes: {{ language.votes_total }} total projects: {{ language.projects_total }}

        <ul>
            {% for project in language.projects.all %}
                <li><a href="{% url 'project' project.id %}">{{ project.name }}</a> written by
                    <a href="{% url 'author' project.author.id %}">{{ project.author.author_name }}</a>,
                {{ project.upvotes }} upvotes, created on {{ project.date_added|date:"d M Y" }}
                    <a href="{{ project.link }}">View on Github</a>
                </li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>