<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <script src="{{ STATIC_URL }}libs/jquery-2.1.3.min.js"></script>
{#    <script src="{{ STATIC_URL }}libs/react.js"></script>#}
{#    <script src="{{ STATIC_URL }}libs/JSXTransformer.js"></script>#}
{#    <script src="{{ STATIC_URL }}libs/react-router.min.js"></script>#}
{#    <script type="text/jsx" src="{{ STATIC_URL }}ui.js"></script>#}
    <title>Abandoned – Reason {{ author.author_name }}</title>
</head>
<body>

    <div id="content">
        <ul>
            <li><a href="{% url 'projects_latest' %}">Projects</a></li>
            <li><a href="{% url 'languages_alphabetical' %}">Languages</a></li>
            <li><a href="{% url 'tags_alphabetical' %}">Tags</a></li>
            <li><a href="{% url 'authors_alphabetical' %}">Authors</a></li>
            <li><a href="{% url 'submit' %}">Add project</a></li>
        </ul>

        {{ reason.reason }} total votes: {{ reason.votes_total }} total projects: {{ reason.projects_total }}

        <ul>
            {% for project in projects_list %}
                <li><a href="{% url 'project' project.id %}">{{ project.name }}</a>
                    written by
                    <a href="{% url 'author' project.author.id %}">{{ project.author.author_name }}</a>
                    in <a href="{% url 'language' project.language.id %}">{{ project.language.language_name }}</a>,
                {{ project.upvotes }} upvotes, created on {{ project.date_added|date:"d M Y" }}
                    <a href="{{ project.link }}">View on Github</a>
                </li>
            {% endfor %}
        </ul>

        <div class="pagination">
            <span class="step-links">
                {% if projects_list.has_previous %}
                    <a href="?page={{ projects_list.previous_page_number }}">previous</a>
                {% endif %}

                <span class="current">
                    Page {{ projects_list.number }} of {{ projects_list.paginator.num_pages }}.
                </span>

                {% if projects_list.has_next %}
                    <a href="?page={{ projects_list.next_page_number }}">next</a>
                {% endif %}
            </span>
        </div>
    </div>
</body>
</html>