<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <link href="{{ STATIC_URL }}design.css" type="text/css" rel="stylesheet" />
    <script src="{{ STATIC_URL }}libs/jquery-2.1.3.min.js"></script>
    <script src="{{ STATIC_URL }}upvotes.js"></script>
    <title>dontabandon.me – Project {{ project.name }}</title>
</head>
<body>
    <div id="content">
        <div id="title">
            <div id="title-top" style="text-align: center; font-size: 40pt">dontabandon.me</div>
            <div id="title-lower" style="text-align: center;">A list of abandoned open-source projects</div>
        </div>
        <div id="top_menu">
            <div class="inner_element">
                <a href="{% url 'projects_latest' %}">Projects</a> /
                <a href="{% url 'languages_alphabetical' %}">Languages</a> /
                <a href="{% url 'tags_alphabetical' %}">Tags</a> /
                <a href="{% url 'reasons_alphabetical' %}">Reasons</a> /
                <a href="{% url 'submit' %}">Add project</a>
            </div>
        </div>

        <div class="page_element">
            <div style="margin-left: auto; margin-right: auto;">
                Project {{ project.name }}<div id="prj_id_div" style="display: none">{{ project.id }}</div>,
                <a target="_blank" href="{{ project.link }}">View on Github</a>
            </div>
        </div>

        <div class="page_element">
            <div style="margin-left: auto; margin-right: auto;">
            Written by <a href="{% url 'author' project.author.id %}">{{ project.author.author_name }}</a>
            (<a target="_blank" href="{{ project.author.author_link }}">View on Github</a>) in
            <a href="{% url 'language' project.language.id %}">{{ project.language.language_name }}</a>,
            <span id="prj_upvotes">{{ project.upvotes }}</span> upvotes, added on {{ project.date_added|date:"d M Y" }},
                abandoned due to <a href="{% url 'reason' project.reason.id %}">{{ project.reason.reason }}</a>
            </div>
        </div>
        <div class="page_element">
            <div style="margin-left: auto; margin-right: auto; margin-top: 19px">
                <span style="font-weight:bold">Description</span>: {{ project.description }}
            </div>
        </div>
        <div class="page_element">
            <div style="margin-left: auto; margin-right: auto; margin-top: 19px">
                Tags:
            </div>
        </div>
        <div class="page_element">
            <div style="margin-left: auto; margin-right: auto;">
                <ul style="padding: 0">
                    {% for tag in project.tags.all %}
                        <li><a href="{% url 'tag' tag.id %}">{{ tag.text }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>

        <div class="page_element">
            <div style="margin-left: auto; margin-right: auto; margin-top: 19px">
                <button id="upvote_button" data-project-id="{{ project.id }}">Upvote this project</button>
            </div>
        </div>
    </div>
</body>
</html>