<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <link href="{{ STATIC_URL }}design.css" type="text/css" rel="stylesheet" />
    <title>Abandoned – Reason {{ author.author_name }}</title>
</head>
<body>
    <div id="content">
        <div id="title">
            <div id="title-top" style="text-align: center; font-size: 40pt">abandoned.me</div>
            <div id="title-lower" style="text-align: center;">A list of abandoned open-source projects</div>
        </div>
        <div id="top_menu">
            <div class="inner_element">
                <a href="{% url 'projects_latest' %}">Projects</a> /
                <a href="{% url 'languages_alphabetical' %}">Languages</a> /
                <a href="{% url 'tags_alphabetical' %}">Tags</a> /
                <a href="{% url 'reasons_alphabetical' %}">Reasons</a> /
                <a href="{% url 'submit' %}">Add project</a>
            </div>
        </div>

        <div class="page_element">
            <div style="margin-left: auto; margin-right: auto;">
                All projects abandoned due to {{ reason.reason }}, total votes: {{ reason.votes_total }}, total projects: {{ reason.projects_total }}
            </div>
        </div>


        <div class="page_element">
            <ol style="margin-left: auto; margin-right: auto;" start="{{ s_item }}">
                {% for project in projects_list %}
                    <li><span style="font-weight:bold"><a href="{% url 'project' project.id %}">{{ project.name }}</a></span>
                        written by
                        <a href="{% url 'author' project.author.id %}">{{ project.author.author_name }}</a>
                        in <a href="{% url 'language' project.language.id %}">{{ project.language.language_name }}</a>,
                    {{ project.upvotes }} upvotes, created on {{ project.date_added|date:"d M Y" }}
                        <a href="{{ project.link }}">View on Github</a>
                    </li>
                {% endfor %}
            </ol>
        </div>

        <div class="pagination">
            <span class="step-links">
                {% if projects_list.has_previous %}
                    <a href="?page={{ projects_list.previous_page_number }}">previous</a>
                {% endif %}

                <span class="current">
                    Page {{ projects_list.number }} of {{ projects_list.paginator.num_pages }}.
                </span>

                {% if projects_list.has_next %}
                    <a href="?page={{ projects_list.next_page_number }}">next</a>
                {% endif %}
            </span>
        </div>
    </div>
</body>
</html>