<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <link href="{{ STATIC_URL }}design.css" type="text/css" rel="stylesheet" />
    <script src="{{ STATIC_URL }}libs/jquery-2.1.3.min.js"></script>
    <title>dontabandon.me – Submit project</title>
</head>
<body>
    <div id="content">
        <div id="title">
            <div id="title-top" style="text-align: center; font-size: 40pt">dontabandon.me</div>
            <div id="title-lower" style="text-align: center;">A list of abandoned open-source projects</div>
        </div>
        <div id="top_menu">
            <div class="inner_element">
                <a href="{% url 'projects_latest' %}">Projects</a> /
                <a href="{% url 'languages_alphabetical' %}">Languages</a> /
                <a href="{% url 'tags_alphabetical' %}">Tags</a> /
                <a href="{% url 'reasons_alphabetical' %}">Reasons</a> /
                <a href="{% url 'submit' %}">Add project</a> /
                <a href="{% url 'api_info' %}">API</a>
            </div>
        </div>

        {% if project_id %}
            <div class="page_element">
                <div style="margin-left: auto; margin-right: auto;">
                    <span style="color: #FF0000">
                        This project is already in the database, you can view it <a href="{% url 'project' project_id %}">here</a>
                    </span>
                </div>
            </div>
        {% endif %}

        <div class="form_holder">
            <form action="/submit/" method="post">
                {% csrf_token %}
                {% if form.link.errors %}
                    <div class="page_element2">
                        <div style="margin-left: auto; margin-right: auto;">
                            <span style="color: #FF0000">There are some problems with the URL you have entered:
                                {{ form.link.errors }}
                            </span>
                        </div>
                    </div>
                {% endif %}

                {% if form.description.errors %}
                    <div class="page_element2">
                        <div style="margin-left: auto; margin-right: auto;">
                            <span style="color: #FF0000">There are some problems with the description you have entered:
                                {{ form.description.errors }}
                            </span>
                        </div>
                    </div>
                {% endif %}

                {% if form.reason.errors %}
                    <div class="page_element2">
                        <div style="margin-left: auto; margin-right: auto;">
                            <span style="color: #FF0000">There are some problems with the abandonment reason:
                                {{ form.reason.errors }}
                            </span>
                        </div>
                    </div>
                {% endif %}

                {% if form.tags_textfield.errors %}
                    <div class="page_element2">
                        <div style="margin-left: auto; margin-right: auto;">
                            <span style="color: #FF0000">There are some problems with the tags you have entered:
                                {{ form.tags_textfield.errors }}
                            </span>
                        </div>
                    </div>
                {% endif %}

                {% if error_message %}
                    <div class="page_element2">
                        <div style="margin-left: auto; margin-right: auto;">
                            <span style="color: #FF0000">The URL doesn't seem to be a valid Github repo link</span>
                        </div>
                    </div>
                {% endif %}
                <div class="page_element2">
                    <div style="margin-left: auto; margin-right: auto;">
                        Project URL: {{ form.link }}
                    </div>
                </div>
                <div class="page_element2">
                    <div style="margin-left: auto; margin-right: auto;">
                        Project description: {{ form.description }}
                    </div>
                </div>
                <div class="page_element2">
                    <div style="margin-left: auto; margin-right: auto;">
                        Abandoned due to {{ form.reason }}
                    </div>
                </div>
                <div class="page_element2">
                    <div style="margin-left: auto; margin-right: auto;">
                        Tags (comma-separated): {{ form.tags_textfield }}
                    </div>
                </div>
                <input type="submit" value="Submit" />
            </form>
        </div>

        <div class="page_element">
            <div style="margin-left: auto; margin-right: auto; font-size: 10pt; margin-top: 8px;">
                Created by George Oblapenko (kunstmord@kunstmord.com) / <a href="https://github.com/Kunstmord/abandoned/" target="_blank">Github project</a> / <a href="{% url 'cookies' %}">Cookie policy</a>
            </div>
        </div>
    </div>
</body>
</html>