<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <script src="{{ STATIC_URL }}libs/jquery-2.1.3.min.js"></script>
{#    <script src="{{ STATIC_URL }}libs/react.js"></script>#}
{#    <script src="{{ STATIC_URL }}libs/JSXTransformer.js"></script>#}
{#    <script src="{{ STATIC_URL }}libs/react-router.min.js"></script>#}
{#    <script type="text/jsx" src="{{ STATIC_URL }}ui.js"></script>#}
    <title>Abandoned – Tags</title>
</head>
<body>
    Tags
    <div id="content">
        <a href="{% url 'tags'  'votes'%}">Tags by amount of votes</a>
        <a href="{% url 'tags'  'projects'%}">Tags by amount of projects</a>

        <ul>
            <li><a href="{% url 'projects_latest' %}">Projects</a></li>
            <li><a href="{% url 'languages_alphabetical' %}">Languages</a></li>
            <li><a href="{% url 'authors_alphabetical' %}">Authors</a></li>
            <li><a href="{% url 'reasons_alphabetical' %}">Reasons</a></li>
            <li><a href="{% url 'submit' %}">Add project</a></li>
        </ul>

        <ul>
        {% for tag in tags_list %}
            <li><a href="{% url 'tag' tag.id %}">{{ tag.text }}</a> total votes: {{ tag.votes_total }} total projects: {{ tag.projects_total }}
            </li>
        {% endfor %}
        </ul>

        <div class="pagination">
            <span class="step-links">
                {% if tags_list.has_previous %}
                    <a href="?page={{ tags_list.previous_page_number }}">previous</a>
                {% endif %}

                <span class="current">
                    Page {{ tags_list.number }} of {{ tags_list.paginator.num_pages }}.
                </span>

                {% if tags_list.has_next %}
                    <a href="?page={{ tags_list.next_page_number }}">next</a>
                {% endif %}
            </span>
        </div>
    </div>
</body>
</html>